<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.seamoss.urbino">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".Urbino"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.onboarding.OnboardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.home.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".views.onboarding.signin.SigninActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".views.public_boards_list.PublicBoardsActivity" >
        </activity>

        <activity android:name=".views.home.board_info.BoardInfoActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.home.HomeActivity" />
        </activity>

        <activity android:name=".views.public_boards_list.board_info_public.BoardInfoPublicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.public_boards_list.PublicBoardsActivity" />
        </activity>

    </application>

</manifest>